@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

button {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.teamBox {
    border: 1px solid darkgray;
    margin: 0.4rem;
    padding: 0.4rem;
}

.votingLabel {
    background-color: darkgray;
    color: gray;
    padding: 2px;
    margin: 2px;
}

.goodTeamMarker {
    color: forestgreen;
}

.badTeamMarker {
    color: orangered;
}

.pastMissionBox {
    border: 2px solid darkgray;
    margin: 0.4rem;
    padding: 0.4rem;
}

.currentMissionBox {
    border: 1px dashed darkgray;
    margin: 0.4rem;
    padding: 0.4rem;
}

.analysisBox {
    border: 1px solid darkgray;
    margin: 0.4rem;
    padding: 0.4rem;
}

.teamTypeButton {
    font-size: 1rem;
}

.memberNameInput {
    font-size: 1rem;
}

@media only screen and (max-width: 960px) {
    button {
        font-size: 12px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .content {
        padding-top: 4px;
    }

    .teamBox {
        margin: 2px;
        padding: 2px;
    }

    .teamTypeButton {
        font-size: 11px;
    }

    .votingLabel {
        padding: 2px;
        margin: 2px;
    }

    .pastMissionBox {
        margin: 2px;
        padding: 2px;
    }

    .currentMissionBox {
        margin: 2px;
        padding: 2px;
    }

    .analysisBox {
        margin: 2px;
        padding: 2px;
    }

    .memberNameInput {
        font-size: 12px;
    }
}